.DS_Store
.env
.env.*
!.env.example
.expo
.next
.source
.turbo
android
build
coverage
dist
ios
!packages/module/android
!packages/module/android/**
packages/module/android/build/
!packages/module/ios
!packages/module/ios/**
packages/module/ios/build/
node_modules
target
*.tsbuildinfo
